@font-face {
	font-family: "Circe Light";
	src: url("../fonts/CirceLight/CirceLight.eot");
	src: url("../fonts/CirceLight/CirceLight.eot?#iefix")format("embedded-opentype"),
		 url("../fonts/CirceLight/CirceLight.woff") format("woff"),
		 url("../fonts/CirceLight/CirceLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Circe Regular";
	src: url("../fonts/CirceRegular/CirceRegular.eot");
	src: url("../fonts/CirceRegular/CirceRegular.eot?#iefix")format("embedded-opentype"),
		 url("../fonts/CirceRegular/CirceRegular.woff") format("woff"),
		 url("../fonts/CirceRegular/CirceRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Circe ExtraBold";
	src: url("../fonts/CirceExtraBold/CirceExtraBold.eot");
	src: url("../fonts/CirceExtraBold/CirceExtraBold.eot?#iefix")format("embedded-opentype"),
		 url("../fonts/CirceExtraBold/CirceExtraBold.woff") format("woff"),
		 url("../fonts/CirceExtraBold/CirceExtraBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	font-family: "Circe Regular", sans-serif;
	font-size: 18px;
	color: #0e1c2f;
}

section {
	text-align: center;
	padding: 50px 0 25px;
}

input {
	font-family: "Circe Regular", sans-serif;
	border: none;
	outline: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
	-webkit-appearance: none;
  	-webkit-border-radius: 0;	        
}

a {
	color: #fff;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
}

label a {
	color: inherit;
	text-decoration: underline;
}

h1, h2, h3,
h4, h5, h6 {
	font-family: "Circe ExtraBold", sans-serif;
}

h1, h2, h3 {
	font-size: 36px;	
}

h4, h5, h6 {
	font-size: 24px;
}


.icon {
	display: inline-block;
	background: url(../img/sprite.png) no-repeat;
	vertical-align: top;
}

.icon-fssp {
	width: 54px;
	height: 59px;
	background-position: -37px -35px;
}

.icon-gibdd {
	width: 65px;
	height: 64px;
	background-position: -160px -32px;
}

.icon-rosstat {
	width: 65px;
	height: 64px;
	background-position: -293px -32px;
}

.icon-nbki {
	width: 98px;
	height: 35px;
	background-position: -399px -47px;
}

.icon-vas-rf {
	width: 61px;
	height: 59px;
	background-position: -546px -35px;
}

.icon-fst {
	width: 52px;
	height: 59px;
	background-position: -678px -35px;
}

.icon-chart {
	width: 31px;
	height: 32px;
	background-position: -17px -400px;
}

.icon-doc-lg {
	width: 24px;
	height: 33px;
	background-position: -84px -400px;
}

.icon-package {
	width: 28px;
	height: 34px;
	background-position: -146px -399px;
}

.icon-cost {
	width: 31px;
	height: 25px;
	background-position: -209px -404px;
}

.icon-stand {
	width: 27px;
	height: 27px;
	background-position: -275px -403px;
}

.icon-info {
	width: 20px;
	height: 26px;
	background-position: -342px -403px;
}

.icon-officer {
	width: 24px;
	height: 30px;
	background-position: -404px -401px;
}

.icon-wrench {
	width: 27px;
	height: 26px;
	background-position: -467px -403px;
}

.icon-car {
	width: 38px;
	height: 16px;
	background-position: -205px -472px;
}

.icon-police-car {
	width: 35px;
	height: 31px;
	background-position: -271px -465px;
}

.icon-car-sale {
	width: 38px;
	height: 24px;
	background-position: -333px -468px;
}

.icon-speedo {
	width: 33px;
	height: 33px;
	background-position: -400px -464px;
}

.icon-car-key {
	width: 24px;
	height: 29px;
	background-position: -468px -466px;
}

.icon-vin {
	width: 31px;
	height: 13px;
	background-position: -208px -538px;
}

.icon-vw {
	width: 37px;
	height: 37px;
	background-position: -269px -526px;
}

.icon-classic-car {
	width: 36px;
	height: 21px;
	background-position: -333px -534px;
}

.icon-docs {
	width: 25px;
	height: 30px;
	background-position: -403px -529px;
}

.icon-people {
	width: 27px;
	height: 31px;
	background-position: -467px -529px;
}

.icon-zoom {
	width: 34px;
	height: 34px;
	background-position: -15px -463px;
}

.icon-print {
	width: 27px;
	height: 26px;
	background-position: -19px -531px;
}

.icon-pdf {
	width: 19px;
	height: 26px;
	background-position: -87px -531px;
}

.icon-arrows-down {
	width: 32px;
	height: 38px;
	background-position: -80px -461px;
}

.icon-arrows-up {
	width: 32px;
	height: 38px;
	background-position: -144px -461px;
}

.icon-hamburger {
	width: 20px;
	height: 14px;
	background-position: -6px -585px;
}

.icon-doc {
	width: 16px;
	height: 23px;
	background-position: -152px -533px;
}

.icon-lock {
	width: 18px;	
	height: 23px;
	background-position: -167px -581px;
}

.icon-like {
	width: 77px;
	height: 79px;
	background-position: -26px -153px;	
}

.icon-api {
	width: 104px;
	height: 79px;
	background-position: -140px -153px;
}

.icon-sale {
	width: 97px;
	height: 97px;
	background-position: -272px -144px;
}

.icon-smartphone {
	width: 94px;
	height: 88px;
	background-position: -401px -148px;
}

.icon-lock-lg {
	width: 61px;
	height: 82px;
	background-position: -546px -151px;
}

.icon-zoom-lg {
	width: 65px;
	height: 66px;
	background-position: -32px -287px;
}

.icon-crash {
	width: 89px;
	height: 47px;
	background-position: -148px -297px;
}

.icon-speedo-lg {
	width: 71px;
	height: 66px;
	background-position: -285px -287px;
}

.icon-taxi-car {
	width: 79px;
	height: 65px;
	background-position: -409px -288px;
}


.container {
	min-width: 320px;
}

.section-header {
	margin-bottom: 50px;
}

.section-headline .icon {
	margin-right: 7px;
}

.text-section {
	padding: 50px 0;
}

.text-section .section-header {
	margin-bottom: 30px;
}

.text-section .section-headline {
	text-transform: uppercase;
}

.section-text {
	line-height: 1.2;
	text-align: left;
	margin-bottom: 20px;
}

.section-text:last-child {
	margin-bottom: 0;
}

.text-input {
	font-size: 24px;
	color: #333;
	border: 3px solid #ffd633;
	padding: 6px 14px;
	-webkit-transition: .2s;
	transition: .2s;
}

.text-input:focus {
	border-color: #0191d3;
}

.button {
	display: inline-block;
	font-size: 18px;
	background-color: #ffd633;
	color: #0e1c2f;
	padding: 13px 10px;
	-webkit-transition: .2s;
	transition: .2s;
	cursor: pointer;
}

.button:hover {
	background-color: #0191d3;
	color: #fff;
}

.button.lg {
	font-size: 24px;	
}

.button.rounded {
	border-radius: 24px;
	padding: 13px 24px;
}

.button .icon {
	vertical-align: middle;
	margin-right: 15px;
}

.section-form {
	border: 15px solid #efca33;
	border-radius: 24px;
	padding: 35px;
}

.form-headline {
	margin-bottom: 40px;
}

.section-form form {
	text-align: left;
	margin: 0 auto;
}

.section-form form .text-input,
.section-form form .button {
	width: 100%;
}

.section-form form input {
	margin-bottom: 25px;
}

.section-form form input:last-child {
	margin-bottom: 0;
}

.modal-window {
	display: none;
	text-align: center;
	padding: 40px 60px;
}

.modal-window-headline {
	font-size: 30px;
	margin-bottom: 60px;
}

.modal-window input {
	display: block;
	width: 100%;
	margin-bottom: 40px;
}

.modal-window input:last-child {
	margin-bottom: 0;
}

.modal-window .text-input {
	color: #0e1c2f;
	border: none;
	border-bottom: 1px solid #0e1c2f;
	opacity: .4;
	padding: 0 10px;
}

.modal-window .text-input:focus {
	opacity: 1;
}

.modal-window .button {
	margin-top: 70px;
	padding: 5px 10px;
}


.header {
	position: relative;
	background-color: #0e1c2f;
	padding: 20px 0;
	z-index: 1;
}

.site-logo {
	display: inline-block;
}

.site-nav {
	padding: 12px 0;
}

.site-nav-toggle {
	display: none;
	border: 1px solid rgba(255,255,255,.5);
	border-radius: 2px;
	padding: 8px;
	cursor: pointer;
}

.site-nav-toggle .icon {
	display: block;
}

.site-nav-menu-item {
	display: inline-block;
	margin-left: 30px;
}

.site-nav-menu-item:first-child {
	margin-left: 0;
}

.site-nav-menu-item a:hover {
	color: #0191d3;
}

.hero {
	background: url(../img/hero_bg.jpg) center center no-repeat;
	background-size: cover;
	color: #fff;
	padding: 200px 0 140px;
}

.site-headline {
	line-height: 1.2;
	text-transform: uppercase;
}

.hero .check-form {
	margin: 30px 0 100px;
}

.check-form input {
	width: 100%;
}

.full-report-link {
	text-align: right;
	margin-top: 20px;
}

.full-report-link a {
	display: inline-block;
	position: relative;
	font-family: "Circe Light", sans-serif;
	font-size: 14px;
	color: #40d434;
}

.full-report-link a:hover {
	text-decoration: underline;
}

.full-report-link a:before {
	display: inline-block;
	content: "";
	width: 14px;
	height: 19px;	
	background: url(../img/sprite.png) -137px -583px no-repeat;	
	vertical-align: bottom;
	margin-right: 7px;
}

.check-category {
	display: inline-block;
	opacity: .75;
	margin: 0 25px;
}

.check-category-title {
	display: block;
	font-family: "Circe Light", sans-serif;	
	font-size: 13px;
	opacity: .75;
	margin-top: 10px;
}

.facts .container {
	padding: 0;
}

.fact-blocks-row {
	margin-bottom: 30px;
}

.fact-blocks-row:last-child {
	margin-bottom: 0;
}

.fact-block {
	position: relative;
	background-color: #0e1c2f;
	color: #fff;
	border-radius: 24px;
	text-align: left;
	margin-bottom: 30px;
	overflow: hidden;
}

.fact-block:last-child {
	margin-bottom: 0;
}

.fact-blocks-row:first-child .fact-block-wrapper:first-child .fact-block {
	height: 700px;
	background: url(../img/fact_img1.jpg) center center no-repeat;
	background-size: cover;
}

.fact-blocks-row:first-child .fact-block-wrapper:nth-child(2) .fact-block:first-child {
	height: 380px;
	background: url(../img/fact_img2.jpg) center center no-repeat;
	background-size: cover;	
}

.fact-blocks-row:first-child .fact-block-wrapper:nth-child(2) .fact-block:nth-child(2) {
	height: 290px;
	background: url(../img/fact_img3.jpg) center center no-repeat;
	background-size: cover;	
}

.fact-blocks-row:nth-child(2) .fact-block {
	height: 300px;
}

.fact-block-content {
	position: absolute;
	top: 80px;
}

.fact-block.half .fact-block-content {
	top: 20px;
}

.fact-block-content.left {
	left: 50px;
}

.fact-block-content.right {
	right: 50px;
}

.fact-blocks-row:nth-child(2) .fact-block-content {
	position: absolute;
	top: 50%;
	left: 30px;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.fact-percent {
	display: block;
	font-family: "Circe ExtraBold", sans-serif;
	font-size: 100px;
	margin-bottom: 10px;
}

.fact-block-content.top .fact-percent {
	margin-bottom: 15px;
}

.fact-block-content.down .fact-percent {
	margin: 30px 0 0;
}

.fact-text {
	font-family: "Circe ExtraBold", sans-serif;
	text-transform: uppercase;		
}

.fact-blocks-row:first-child .fact-text {
	font-size: 36px;
}

.fact-text-line {
	display: block;
	margin-bottom: 30px;
}

.fact-text-line:last-child {
	margin-bottom: 0;
}

.fact-text-line span {
	display: inline-block;
	background-color: #0e1c2f;
	padding: 10px 12px;
}

.report-info-img {
	border-radius: 24px;
	overflow: hidden;
	margin-bottom: 30px;
}

.report-info-list {
	text-align: left;
}

.report-info-item {
	font-family: "Circe Light", sans-serif;
	margin-bottom: 10px;
}

.report-info-item:last-child {
	margin-bottom: 0;
}

.report-info-icon {
	display: inline-block;
	position: relative;
	width: 54px;
	height: 54px;
	background-color: #ffd633;
	border-radius: 100%;
	vertical-align: middle;
	margin-right: 16px;
}

.report-info-icon .icon {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}

.banner {
	position: relative;
	background: url(../img/banner.jpg) center center no-repeat;
	border-radius: 24px;
	overflow: hidden;
	margin-top: 70px;
	padding: 54px 0;
	z-index: 1;
}

.banner:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: #ffd633;
	opacity: 0;
	top: 0;
	left: 0;
	z-index: -1;
	-webkit-transition: .2s;
	transition: .2s;
}

.banner:hover:before {
	opacity: .5;
}

.banner-link {
	display: inline-block;
	font-family: "Circe ExtraBold", sans-serif;
	font-size: 48px;
	background-color: #0e1c2f;
	color: #fff;
	padding: 12px 24px;
}

.banner:hover .banner-link {
	background-color: #0191d3;
}

.banner-link .icon {
	vertical-align: middle;
	margin-left: 10px;
}

.about {
	padding-bottom: 60px;
}

.about .container {
	padding: 0;
}

.about-block {
	padding: 40px 55px;
}

.about-block.yellow {
	background-color: #ffd633;
	margin-right: -15px;
}

.about-block.blue {
	height: 326px;
	background-color: #0e1c2f;
	color: #fff;
	margin-left: -15px;
}

.about-block.gray {
	background-color: #ececec;
}

.about-block-title {
	line-height: 1.2;
	text-align: left;
	text-decoration: underline;
	margin-bottom: 30px;
}

.about-block-text {
	font-family: "Circe Light", sans-serif;
	text-align: left;
	line-height: 1.2;
}

.spoiler-button {
	display: inline-block;
	margin-top: 30px;
	cursor: pointer;
}

.offers {
	background-color: #ececec;
	padding-bottom: 70px;
}

.offer {
	background-color: #fff;
	border: 15px solid #ececec;
	border-radius: 40px;
	padding: 60px 30px 40px;
	-webkit-transition: .2s;
	transition: .2s;
}

.offer:hover {
	border-color: #ffd633;
}

.offer-title {
	text-transform: uppercase;
	margin-bottom: 40px;
}

.offer-info {
	display: block;
	background-color: #0e1c2f;
	color: #fff;
	margin: 0 -30px;
	padding: 20px 40px;
}

.offer-price {
	display: block;
	font-family: "Circe ExtraBold", sans-serif;
	font-size: 36px;
	line-height: 1.2;
	margin: 40px 0 50px;
	padding: 0 20px;
}

.feature {
	padding: 0 40px;
}

.feature-icon {
	position: relative;
	height: 100px;
	margin-bottom: 30px;
}

.feature-icon .icon {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}

.feature-text {
	line-height: 1.2;
}

.form {
	background: url(../img/form_bg.jpg) center center no-repeat;
	background-size: cover;
	padding: 50px 0 30px;
}

.form .full-report-link a {
	color: #fff;
}

.form .full-report-link a:before {
	background-position: -105px -583px;
}

.report {
	background: url(../img/report_bg.jpg) center top no-repeat;
}

.report .section-headline {
	text-transform: uppercase;
}

.report-nav {
	position: relative;
	font-size: 14px;
	background-color: #fff;
	border: 15px solid #0e1c2f;
	border-radius: 40px;
	padding: 25px 0;
	overflow: hidden;
}

.report-nav.locked:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.report-nav-menu-item {
	line-height: 1.2;
}

.report-nav-menu-item a {
	display: block;
	color: #0e1c2f;
	padding: 8px 15px;
}

.report-nav-menu-item.active a,
.report-nav-menu-item a:hover {
	background-color: #efca33;
}

.report-nav.locked .report-nav-menu-item a {
	color: #9fa4ac;
}

.locked-nav {
	display: block;
	position: absolute;
	width: 75%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}

.locked-nav .icon {
	margin-bottom: 15px;
}

.locked-nav-text {
	display: block;
	font-size: 14px;
	background-color: #0e1c2f;
	color: #fff;
	line-height: 1.2;
	padding: 5px;
}

.report-buttons .button {
	margin: 0 15px;
}

.checkable-vin {
	display: inline-block;
	font-size: 30px;
	color: #0f1010;
	border: 2px solid #0f1010;
	border-radius: 2px;
	margin: 40px 0 20px;
	padding: 15px 10px;
}

.report-wrapper {
	position: relative;
	border: 1px solid #0e1c2f;
	margin-bottom: 60px;
	overflow: auto;
}

.report-category-title {
	display: block;
	background-color: #0e1c2f;
	color: #fff;
	text-transform: uppercase;
	padding: 18px;
}

.report-data-item {
	font-size: 0;
	background-color: #fff;
	text-align: left;
	padding: 15px;
}

.report-data-item:nth-child(even) {
	background-color: #ececec;
}

.report-data.column .report-data-item {
	text-align: center;
}

.report-data-title,
.report-data-value {
	display: inline-block;
	width: 50%;
	font-size: 24px;
	line-height: 1.2;
	vertical-align: top;
	padding: 0 20px;
}

.report-data.column .report-data-title,
.report-data.column .report-data-value {
	display: block;
	width: 100%;
	padding: 0;
}

.report-data.column .report-data-title + .report-data-value {
	margin-top: 30px;
}

.report-data.single .report-data-value {
	font-family: "Circe ExtraBold", sans-serif;
	margin-top: 0;
	padding: 10px 0;
}

.locked-data {
	font-family: "Circe Regular", sans-serif;
}

.locked-data .icon {
	margin-right: 8px;
}

.promo {
	font-size: 36px;	
	background: url(../img/form_bg.jpg) center center no-repeat;
	background-size: cover;
	padding: 40px 0;
}

.promo-text {
	font-family: "Circe ExtraBold", sans-serif;
	color: #fff;
	text-align: left;
}

.promo-text span {
	display: inline-block;
	background-color: #0e1c2f;
	margin-bottom: 15px;
	padding: 10px 15px;
}

.promo-text span:last-child {
	margin-bottom: 0;
}

.promo-code-wrapper {
	padding: 0 20px;
}

.promo-code {
	display: block;
	background-color: #fff;
	border: 3px solid #efca33;
	border-radius: 24px;
	margin-bottom: 20px;
	padding: 12px;
}

.promo-code-wrapper .button {
	width: 100%;
}

.questions {
	background-color: #ececec;
	padding: 50px 0;
}

.question-icon {
	position: relative;
	width: 145px;
	height: 145px;
	background-color: #0e1c2f;
	border-radius: 100%;
	margin: 0 auto 15px;
}

.question-icon .icon {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}

.question-text {
	display: block;
	line-height: 1.2;
	padding: 0 40px;
}

.report-price {
	font-size: 30px;
	margin-bottom: 30px;
}

.report-price span {
	display: inline-block;
	vertical-align: middle;
	margin: 0 15px;
}

.old-price {
	text-decoration: line-through;
}

.payment {
	padding: 80px 0 60px;
}

.payment-form {
	padding: 0 60px;
}

.payment-form form {
	width: 55%;
}

.payment .check-categories {
	margin-top: 40px;
}

.payment .check-category {
	vertical-align: middle;
}

.new-price {
	font-family: "Circe ExtraBold", sans-serif;
	background-color: #0e1c2f;
	color: #fff;
	padding: 5px 10px;
}

.footer {
	font-size: 14px;
	background-color: #0e1c2f;
	color: #fff;
	padding: 20px 0;
}

.footer a {
	color: #ffd633;
}

.footer a:hover {
	text-decoration: underline;
}

.footer-info {
	display: block;
	line-height: 1.2;
	margin-top: 10px;
}

.copyright {
	display: block;
}


@media screen and (max-width: 1199px) {
	body {
		font-size: 16px;
	}

	.fact-block-wrapper:nth-child(n) .fact-block-content:nth-child(n) {
		width: 100%;
		text-align: center;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%,-50%);
		        transform: translate(-50%,-50%);
	}

	.fact-text-line {
		margin-bottom: 0;
	}

	.report-info-item {
		text-align: center;
		margin-bottom: 20px;
	}

	.report-info-icon {
		display: block;
		margin: 0 auto 10px;
	}

	.about-block:nth-child(n) {
		height: auto;
	}

	.about-block-title {
		font-size: 30px;
	}

	.feature {
		padding: 0 20px;
	}

	.report-data-item {
		padding: 15px 0;
	}

	.report-data-title, 
	.report-data-value {
		font-size: 20px;
		padding: 0 10px;
	}

	.question-text {
		padding: 0 15px;
	}
}

@media screen and (max-width: 991px) {
	h1, h2, h3 {
		font-size: 30px;
	}

	h4, h5, h6 {
		font-size: 20px;
	}

	.check-form .button {
		margin-top: 30px;
	}

	.check-category {
		margin: 0 15px;
	}

	.fact-block {
		padding: 20px;
	}

	.fact-percent {
		font-size: 48px;
	}

	.fact-blocks-row:nth-child(n) .fact-text {
		font-size: 24px;
	}

	.fact-blocks-row:nth-child(2) .fact-text {
		font-size: 16px;
	}

	.fact-blocks-row:nth-child(2) .fact-text-line span {
		padding: 0;
	}

	.report-info-item {
		font-size: 13px;
	}
	
	.report-info-img {
		display: none;
	}

	.report-info-list {
		margin-bottom: 30px;
	}

	.about-block:nth-child(n) {
		margin: 0;
	}

	.offer-info {
		padding: 20px;
	}

	.offer-price {
		font-size: 28px;
	}

	.feature {
		padding: 0;
	}

	.report-nav {
		display: none;
	}

	.promo-text {
		text-align: center;
		margin-bottom: 30px;
	}

	.question-icon {
		width: 120px;
		height: 120px;
	}

	.question-text {
		padding: 0;
	}

	.payment-form form {
		width: 75%;
	}
}

@media screen and (max-width: 767px) {
	body {
		font-size: 14px;
	}

	section:nth-child(n):not(.hero) {
		padding: 30px 0;
	}

	h1, h2, h3 {
		font-size: 24px;
	}

	h4, h5, h6 {
		font-size: 18px;
	}

	.container:nth-child(n) {
		padding-left: 30px;
		padding-right: 30px;
	}

	.section-headline .icon {
		display: block;
		margin: 0 auto 5px;
	}

	.modal-window-headline {
		font-size: 24px;
		margin-bottom: 30px;
	}

	.modal-window .button {
		margin-top: 30px;
	}

	.header {
		padding: 10px 0;
	}

	.site-logo img {
		width: 80%;
	}

	.site-nav {
		padding: 0;
	}

	.site-nav-toggle {
		display: block;
	}

	.site-nav-menu {
		position: absolute;
		width: 100%;
		background-color: #0e1c2f;
		border-top: 1px solid rgba(255,255,255,.1);
		text-align: center;
		top: 50px;
		left: 0;
	}

	.site-nav-menu-item:nth-child(n) {
		display: block;
		margin: 0;
	}

	.site-nav-menu-item a {
		display: block;
		padding: 15px 0;
	}

	.site-nav-menu-item a:hover {
		background-color: #0191d3;
		color: #fff;
	}

	.hero {
		padding: 80px 0 40px;
	}

	.hero .check-form {
		margin-bottom: 60px;
	}

	.check-form .text-input {
		margin-bottom: 15px;
	}

	.check-form .button {
		margin-top: 0;
	}

	.full-report-link {
		text-align: center;
	}

	.check-categories {
		font-size: 0;
	}

	.check-category {
		width: 50%;
		margin: 0 0 30px;
	}

	.fact-blocks-row {
		margin-bottom: 0;
	}

	.fact-blocks-row:nth-child(n) .fact-block-wrapper:nth-child(n) .fact-block:nth-child(n) {
		height: auto;
	}

	.fact-block-wrapper:nth-child(n) .fact-block-content:nth-child(n) {
		position: relative;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		-webkit-transform: none;
		        transform: none;
	}

	.fact-block:nth-child(n) {
		margin-bottom: 30px;
	}

	.fact-blocks-row:nth-child(n) .fact-text {
		display: inline-block;
		font-size: 18px;
		background-color: #0e1c2f;
	}

	.fact-text-line span {
		background: none;
	}

	.report-info-wrapper:last-child .report-info-item {
		float: left;
		width: 50%;
	}

	.report-info-wrapper:last-child .report-info-item:last-child {
		width: 100%;
	}

	.report-info-item {
		height: 100px;
	}

	.banner {
		margin-top: 20px;
	}

	.banner-link {
		font-size: 24px;
	}

	.about-block-title {
		font-size: 20px;
	}

	.offer-info {
		padding: 20px 0;
	}

	.feature {
		margin-bottom: 20px;
	}

	.report-buttons .button {
		margin-bottom: 15px;
	}

	.report-buttons .button:last-child {
		margin-bottom: 0;
	}

	.promo-text,
	.promo-code {
		font-size: 24px;
	}

	.question {
		margin-bottom: 20px;
	}

	.payment-form .section-form {
		padding: 35px 20px;
	}

	.footer {
		text-align: center;
	}

	.footer-info {
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 639px) {
	.button:nth-child(n) {
		font-size: 14px;
	}

	.text-input {
		font-size: 14px;
	}

	.modal-window {
		padding: 30px;
	}

	.report-data-item {
		padding: 10px;
	}

	.report-data-title,
	.report-data-value {
		width: 100%;
		font-size: 16px;
		text-align: center;
		padding: 0;
	}

	.locked-data .icon {
		display: none;
	}

	.payment-form {
		padding: 0;
	}

	.payment-form form {
		width: 100%;
	}
}

@media screen and (max-width: 479px) {
	.banner-link {
		display: block;
		padding: 12px;
	}

	.banner-link .icon {
		display: none;
	}

	.about-block {
		padding: 40px 30px;
	}

	.checkable-vin {
		font-size: 24px;
	}

	.payment-form {
		margin: 0 -15px;
	}

	.payment-form .section-form {
		padding: 20px 10px;
	}
}


@media screen and (min-width: 768px) {
	.site-nav-menu.collapse {
    	display: inline-block;
  	}	
}