<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta charset="utf-8">
	</head>
	<body style="font-family: sans-serif; color: #0e1c2f; margin: 0; padding: 0;">
		<div class="email-header" style="background: #0e1c2f; padding: 18px 0;">
			<div class="email-container" style="min-width: 260px; max-width: 930px; text-align: center; margin: 0 auto; padding: 0 30px;" align="center">
				<a class="site-logo" href="#" style="color: #0e1c2f; text-decoration: none; margin-bottom: 10px;">
					<img src="http://vin.jedpad.com/mail/img/site_logo.png" alt=""></a>
				<h1 class="site-headline" style="font-size: 16px; color: #fff; padding: 10px 0;">Проверка истории автомобиля по <span style="color: #efca33;">VIN</span> коду по <span style="color: #efca33;">29</span> пунктам</h1>
			</div>
		</div>
		<div class="email-report" style="background: url('img/report_bg.jpg') no-repeat center center; padding: 30px 0;">
			<div class="email-container" style="min-width: 260px; max-width: 930px; text-align: center; margin: 0 auto; padding: 0 30px;" align="center">
				<h2 class="email-section-title" style="font-size: 24px; font-weight: bold; margin-bottom: 30px; text-transform: uppercase;">Краткий отчет</h2>
				<a class="email-button" href="#" style="color: #0e1c2f; text-decoration: none; display: inline-block; font-size: 16px; background: #efca33; padding: 10px;">Рекомендуем получить полный отчет</a>
				<div class="checkable-vin">
					<span style="display: inline-block; font-size: 20px; color: #0f1010; border-radius: 2px; margin: 40px 0; padding: 15px 10px; border: 2px solid #0f1010;">{{vin}}</span>
				</div>
			</div>
		</div>
		<div class="email-thanks" style="color: #fff; background: #0e1c2f; padding: 50px 0;">
			<div class="email-container" style="min-width: 260px; max-width: 930px; text-align: center; margin: 0 auto; padding: 0 30px;" align="center">
				<h2 style="font-size: 18px;">Мы благодарим Вас за то, что воспользовались нашим сервисом!</h2>
				<p style="font-size: 18px;">Только до конца недели мы дарим Вам промокод на скидку 100 р.</p>
			</div>
		</div>
		<div class="email-promo" style="background: url('img/email_promo_bg.jpg') no-repeat center center; background-size: cover; padding: 50px 0;">
			<div class="email-container" style="min-width: 260px; max-width: 930px; text-align: center; margin: 0 auto; padding: 0 30px;" align="center">
				<div class="promo-text">
					<span style="display: inline-block; font-size: 18px; font-weight: bold; color: #fff; margin-bottom: 10px; background: #0e1c2f; padding: 10px 15px;">Промо-код на скидку 100р в</span><br><span style="display: inline-block; font-size: 18px; font-weight: bold; color: #fff; margin-bottom: 10px; background: #0e1c2f; padding: 10px 15px;">следующем заказе</span>
				</div>
				<div class="promo-code-wrapper">
					<span class="promo-code" style="display: inline-block; font-size: 20px; background: #fff; margin: 20px 0; padding: 12px; border: 3px solid #efca33;">{{promo}}</span><br><a class="email-button" href="#" style="color: #0e1c2f; text-decoration: none; display: inline-block; font-size: 16px; background: #efca33; padding: 10px;">Применить промо-код</a>
				</div>
			</div>
		</div>
		<div class="email-questions" style="background: #ececec; padding: 30px 0;">
			<div class="email-container" style="min-width: 260px; max-width: 930px; text-align: center; margin: 0 auto; padding: 0 30px;" align="center">
				<div class="email-question" style="display: inline-block; width: 150px; vertical-align: top; margin: 10px 30px;">
					<img src="http://vin.jedpad.com/mail/img/email_q_icon1.png" alt=""><p style="font-size: 12px;">Вы уверены, что авто не числится в угоне?</p>
				</div>
				<div class="email-question" style="display: inline-block; width: 150px; vertical-align: top; margin: 10px 30px;">
					<img src="http://vin.jedpad.com/mail/img/email_q_icon2.png" alt=""><p style="font-size: 12px;">А сколько раз он попадал в ДТП?</p>
				</div>
				<div class="email-question" style="display: inline-block; width: 150px; vertical-align: top; margin: 10px 30px;">
					<img src="http://vin.jedpad.com/mail/img/email_q_icon3.png" alt=""><p style="font-size: 12px;">Знаете реальный пробег?</p>
				</div>
				<div class="email-question" style="display: inline-block; width: 150px; vertical-align: top; margin: 10px 30px;">
					<img src="http://vin.jedpad.com/mail/img/email_q_icon4.png" alt=""><p style="font-size: 12px;">Уверены что авто не использовался в такси?</p>
				</div>
			</div>
		</div>
		<div class="email-manual" style="padding: 50px 0;">
			<div class="email-container" style="min-width: 260px; max-width: 930px; text-align: center; margin: 0 auto; padding: 0 30px;" align="center">
				<h2 class="email-section-title" style="font-size: 24px; font-weight: bold; margin-bottom: 30px;">Краткая инструкция по использованию промо-кода:</h2>
				<ol class="email-manual-list" style="font-size: 18px; line-height: 2; text-align: left;">
<li>Перейдите на портал <a href="http://vin.jedpad.com">http://vin.jedpad.com</a></li>
					<li>Введите требуемый VIN в форму поиска и нажмите кнопку "ПРОВЕРИТЬ".</li>
					<li>В появившемся окне установите галочку на "ПРОМО-КОД", появится поле для ввода промо-кода.</li>
					<li>Введите Ваш промо-код из этого письма и нажмите кнопку "КУПИТЬ".</li>
				</ol>
<span class="email-promo-info" style="display: inline-block; font-size: 18px; color: #fff; background: #0e1c2f; margin: 20px 0 50px; padding: 15px;">
					Покупаете машину? Или уже купили, но не знаете ее историю?<br>
					Проверьте информацию об автомобиле и узнайте всю правду!<br>
					Только до конца этой недели мы дарим Вам промокод на сумму 100 ₽.
				</span>
				<br /><a class="email-button" href="#" style="color: #0e1c2f; text-decoration: none; display: inline-block; font-size: 16px; background: #efca33; padding: 10px;">Заказать полный отчет по {{vin}}</a>
				<div class="email-check-categories" style="margin-top: 60px;">
					<div class="email-check-category" style="display: inline-block; vertical-align: middle; margin: 10px 40px;">
						<img src="http://vin.jedpad.com/mail/img/email_check_cat1.png" alt="">
</div>
					<div class="email-check-category" style="display: inline-block; vertical-align: middle; margin: 10px 40px;">
						<img src="http://vin.jedpad.com/mail/img/email_check_cat2.png" alt="">
</div>
					<div class="email-check-category" style="display: inline-block; vertical-align: middle; margin: 10px 40px;">
						<img src="http://vin.jedpad.com/mail/img/email_check_cat3.png" alt="">
</div>
					<div class="email-check-category" style="display: inline-block; vertical-align: middle; margin: 10px 40px;">
						<img src="http://vin.jedpad.com/mail/img/email_check_cat4.png" alt="">
</div>
					<div class="email-check-category" style="display: inline-block; vertical-align: middle; margin: 10px 40px;">
						<img src="http://vin.jedpad.com/mail/img/email_check_cat5.png" alt="">
</div>
					<div class="email-check-category" style="display: inline-block; vertical-align: middle; margin: 10px 40px;">
						<img src="http://vin.jedpad.com/mail/img/email_check_cat6.png" alt="">
</div>
				</div>
			</div>
		</div>
		<div class="email-offers" style="background: #ececec; padding: 30px 0 50px;">
			<div class="email-container" style="min-width: 260px; max-width: 930px; text-align: center; margin: 0 auto; padding: 0 30px;" align="center">
				<h2 class="email-section-title" style="font-size: 24px; font-weight: bold; margin-bottom: 30px;">Пакетные предложения</h2>
				<div class="email-offer" style="display: inline-block; overflow: hidden; background: #fff; padding: 60px 10px 40px; border: 15px solid #ececec;">
					<h3 class="email-offer-title" style="font-size: 24px; text-transform: uppercase; margin: 0 0 30px;">Пакет 1</h3>
					<span class="email-offer-info" style="display: block; color: #fff; background: #0e1c2f; margin: 0 -20px; padding: 20px 40px;">до 100 проверок<br>в месяц</span>
					<span class="email-offer-price" style="display: block; font-size: 24px; margin: 20px 0;">
						<span style="display: block;">99 р.</span>
						отчет
					</span>
					<a class="email-button" href="http://vin.jedpad.com/" style="color: #0e1c2f; text-decoration: none; display: inline-block; font-size: 16px; background: #efca33; padding: 10px;">Заказать</a>
				</div>
				<div class="email-offer" style="display: inline-block; overflow: hidden; background: #fff; padding: 60px 10px 40px; border: 15px solid #ececec;">
					<h3 class="email-offer-title" style="font-size: 24px; text-transform: uppercase; margin: 0 0 30px;">Пакет 2</h3>
					<span class="email-offer-info" style="display: block; color: #fff; background: #0e1c2f; margin: 0 -20px; padding: 20px 40px;">от 100 до 300<br>проверок в месяц</span>
					<span class="email-offer-price" style="display: block; font-size: 24px; margin: 20px 0;">
						<span style="display: block;">85 р.</span>
						отчет
					</span>
					<a class="email-button" href="http://vin.jedpad.com/" style="color: #0e1c2f; text-decoration: none; display: inline-block; font-size: 16px; background: #efca33; padding: 10px;">Заказать</a>
				</div>
				<div class="email-offer" style="display: inline-block; overflow: hidden; background: #fff; padding: 60px 10px 40px; border: 15px solid #ececec;">
					<h3 class="email-offer-title" style="font-size: 24px; text-transform: uppercase; margin: 0 0 30px;">Пакет 3</h3>
					<span class="email-offer-info" style="display: block; color: #fff; background: #0e1c2f; margin: 0 -20px; padding: 20px 40px;">от 300 до 500<br>проверок в месяц</span>
					<span class="email-offer-price" style="display: block; font-size: 24px; margin: 20px 0;">
						<span style="display: block;">80 р.</span>
						отчет
					</span>
					<a class="email-button" href="http://vin.jedpad.com/" style="color: #0e1c2f; text-decoration: none; display: inline-block; font-size: 16px; background: #efca33; padding: 10px;">Заказать</a>
				</div>
				<div class="email-offer" style="display: inline-block; overflow: hidden; background: #fff; padding: 60px 10px 40px; border: 15px solid #ececec;">
					<h3 class="email-offer-title" style="font-size: 24px; text-transform: uppercase; margin: 0 0 30px;">Пакет 4</h3>
					<span class="email-offer-info" style="display: block; color: #fff; background: #0e1c2f; margin: 0 -20px; padding: 20px 40px;">от 500 до 1000<br>проверок в месяц</span>
					<span class="email-offer-price" style="display: block; font-size: 24px; margin: 20px 0;">
						<span style="display: block;">75 р.</span>
						отчет
					</span>
					<a class="email-button" href="http://vin.jedpad.com/" style="color: #0e1c2f; text-decoration: none; display: inline-block; font-size: 16px; background: #efca33; padding: 10px;">Заказать</a>
				</div>
			</div>
		</div>
		<div class="email-features" style="padding: 60px 0;">
			<div class="email-container" style="min-width: 260px; max-width: 930px; text-align: center; margin: 0 auto; padding: 0 30px;" align="center">
				<div class="email-feature" style="display: inline-block; width: 150px; vertical-align: middle; margin: 10px 30px;">
					<img src="http://vin.jedpad.com/mail/img/email_feature_icon1.png" alt=""><p style="font-size: 12px;">Удобный личный кабинет</p>
				</div>
				<div class="email-feature" style="display: inline-block; width: 150px; vertical-align: middle; margin: 10px 30px;">
					<img src="http://vin.jedpad.com/mail/img/email_feature_icon2.png" alt=""><p style="font-size: 12px;">Работа по API</p>
				</div>
				<div class="email-feature" style="display: inline-block; width: 150px; vertical-align: middle; margin: 10px 30px;">
					<img src="http://vin.jedpad.com/mail/img/email_feature_icon3.png" alt=""><p style="font-size: 12px;">Спец. условия при работе совместно с JedPad.com</p>
				</div>
				<div class="email-feature" style="display: inline-block; width: 150px; vertical-align: middle; margin: 10px 30px;">
					<img src="http://vin.jedpad.com/mail/img/email_feature_icon4.png" alt=""><p style="font-size: 12px;">Мобильное приложение</p>
				</div>
			</div>
		</div>
		<div class="email-footer" style="font-size: 12px; color: #fff; background: #0e1c2f; padding: 18px 0;">
			<div class="email-container" style="min-width: 260px; max-width: 930px; text-align: center; margin: 0 auto; padding: 0 30px;" align="center">
				<a class="site-logo" href="#" style="color: #ffd633; text-decoration: none; margin-bottom: 10px;">
					<img src="http://vin.jedpad.com/mail/img/site_logo.png" alt=""></a>
				<span class="email-footer-info" style="display: block; margin-top: 20px;">
					Техническая поддержка работает:<br>
					Пн-Пт с 9 до 18 часов
				</span>
				<span class="email-footer-info" style="display: block; margin-top: 20px;">
					E-Mail: <a href="mailto:info@jedpad.com" style="color: #ffd633; text-decoration: none;">info@jedpad.com</a><br>
					Телефон: 8 (981) 104-44-72<br>
					Или <a href="" style="color: #ffd633; text-decoration: none;">напишите нам</a>
				</span>
				<span class="email-copyright" style="display: block; margin-top: 20px;">
					© 2015 - 2017 <a href="#" style="color: #ffd633; text-decoration: none;">vin.jedpad.com</a>
				</span>
			</div>
		</div>
	</body>
</html>
